<div class="container">
  <div>
    <h2>Input Sizing</h2>
    <p>The form below shows input elements with different heights using .input-lg and .input-sm:</p>
    <button type="button" class="btn btn-primary">Add Employees</button>
  </div>
  <br>
  <form>
    <div class="form-group">
      <img class="images" src="../../assets/img/dog-4372036_960_720.jpg" />
    </div>
    <div class="form-group">
      <label for="inputlg">ชื่อ-นามสกุล</label>
      <input class="form-control input-lg" id="inputlg" type="text">
    </div>
    <div class="form-group">
      <label for="inputsm">เบอร์โทรศัพท์</label>
      <input class="form-control input-sm" id="inputsm" type="text">
    </div>
    <div class="form-group">
      <label for="inputsm">อัตราจ้างต่อวัน</label>
      <input class="form-control input-sm" id="inputsm" type="text">
    </div>
    <div class="form-group">
      <label for="inputsm">วันที่ทำงาน</label>
      <input class="form-control input-sm" id="inputsm" type="text">
    </div>
    <div class="form-group">
      <label for="inputsm">วันที่หยุดงาน</label>
      <input class="form-control input-sm" id="inputsm" type="text">
    </div>
    <div class="form-group">
      <label for="inputsm">เงินที่ต้องได้รับต่อวีค</label>
      <input class="form-control input-sm" id="inputsm" type="text">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="name" required name="name">
    </div>
  </form>
</div>